nav a {
margin:20px;
font-size:20px;
text-decoration: none;
color: rgb(244, 255, 255);
border: 3px solid navy;
border-radius: 10px;
background-color: navy;
}

.popular {
    background-color: rgb(241, 241, 241);
    color: royalblue;
}

select{
margin: 20px;
padding: 10px;
border: 2px solid lightgray;
font-size: 20px;
}

select option {
color: rgb(90,90,90);

}

main {
 margin: 30px; 
padding: 30px;
}

footer {
    background-color: #8fddf2;
    padding: 10px;
}

footer p {
    background-color: white;
    color: black;
    padding: 5px;
}

.green{
 height:60px ;  
}
